<div class="container">
    <div class="row">
        <!-- About me --> 
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2 style="margin: 15px;">About Me</h2>
                <img src="../../assets/WhatsApp_Image_2024-06-04_at_12.10.30-removebg-preview.png" alt="My image" width="245" height="256" class="rounded-circle">
                <hr>
                <p>Étudiant en deuxième année du cycle d'ingénieur en informatique industrielle et automatique, je
                    suis passionné par l'innovation dans le domaine de l'intelligence artificielle. Mon parcours inclut
                    une solide expérience dans le développement de systèmes embarqués et l'apprentissage
                    automatique. Actuellement à la recherche d'un stage de deux mois à partir de juin, je suis
                    motivé à mettre mes compétences au service de projets novateurs, notamment dans les
                    domaines de l'intelligence artificielle et des technologies émergentes en informatique.
                    </p>
            </div>
        </div>
        <!-- Featured projects --> 
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
            <carousel style="display: flex; justify-content: center; align-items: center;">
                <div *ngFor="let picture of featuredProject.pictures" >
                    <slide> <img src={{picture}} alt="slide" style="display: flex; justify-content: center; align-items: center; height: 20%;"></slide>
                </div>
            </carousel>
            <p class="mt-2 text-center" >{{featuredProject.summary}}</p>
            <p class="text-center">Visit the PORTFOLIO section to learn more</p>
            
        </div> 
    </div>
</div>
